{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!--Welcome Image-->
<div class="card bg-dark text-white rounded-0">
  <img src="https://res.cloudinary.com/dqf94syyp/image/upload/v1628843240/welcome_rsawl8.jpg" class="img-fluid max-width: 100% height: auto" alt="Welcome mat">
</div>
<div class="container align-items-center">
  <div class="row">
    <div class="text-center mt-4">
      <h2>{% trans "Sign Up" %}</h2>

      <p>{% blocktrans %}Welcome to Coaching Warriors.<br>Already have an account? Then please <a href="{{ login_url }}">Login</a>.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="text-center">
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-dark text-center m-2" type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
