body {
    font-family: sans-serif;
    background-color: #EDEDED;
    color: #1F1F23;
}

/**Course information cards**/
.course-link {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

.course-link:hover {
    color: inherit;
}

.coursecard:hover {
    transform: scale(1.05);
}

.coursecard {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
}

/**Error messages**/
ul.errorlist {
    color: red;
    list-style-type: none;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: inherit;
}