{% extends "base.html" %}

{% block content %}
<!--Heading-->
<h2 class="text-center mt-4">About Coaching Warriors</h2>

<!--How we coach-->
<div class="card m-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img class="card-img" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627985733/woman-jumping_q6rgqt.jpg" alt="Blue image woman jumping">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">How we coach</h5>
                <p class="card-text">Our coaching methodology draws on adult stage development and complexity theory, 
                    adaptive leadership, appreciative inquiry and action learning. 
                    We use the Growth Edge Interview, the Immunity to Change process, Appreciative 
                    Inquiry, Gestalt and self embodied learning techniques and somatic work.</p>
                <p class="card-text">We work alongside our clients with compassion and curiosity to explore current 
                    thinking to see new choices and possibilities which can be discovered.</p>
                <p class="card-text">We explore with the client their core beliefs to find out whether they are still useful and work for 
                    them, or not.</p>
            </div>
        </div>
    </div>
</div>
<!--About our concepts-->
<div class="card m-3">
    <div class="row no-gutters">
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">About our concepts</h5>
                <p class="card-text">Kegan’s concept of ‘subject – object’ is integral to our work. ‘Things which 
                    are ‘subject’ are the things which are held internally and so much a part of you that they are 
                    not seen or questioned. The things that are ‘object’ in our lives are the elements of our 
                    understanding which we can reflect on, look at and change our stance, (if we want to).</p>
                <p class="card-text">We help our clients to see the clues to discover the what one is ‘subject’ to, for example 
                    strong and negative responses which take up precious time and energy. Learning to observe these 
                    clues and responses and being curious about what they may mean, has reduced the negative impact 
                    and given more choices to our coaches and to our clients</p>
            </div>
        </div>
        <div class="col-md-4">
            <img class="card-img" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627992367/inspiration-1514296_640_notfth.jpg" alt="Woman leaping at sunset">
        </div>
    </div>
</div>
<!--About our coaches-->
<div class="text-center">
    <h4>About Our Coaches</h4>
</div>
<div class="card m-3">
    <div class="row no-gutters">
        {% for coach in coach_list %}
        <div class="col-md-2">
            {% if "placeholder" in coach.profile_image.url %}
            <img class="img-thumbnail" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627545433/woman-jumping_vda4tj.jpg">
            {% else %}
            <img class="img-thumbnail" src="{{ coach.profile_image.url }}" alt="">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ coach.coach_name }}</h5>
                <p class="card-text">{{ coach.title }}</p>
                <p class="card-text">{{ coach.about }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{%endblock%}