
{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-5">Booking form</h2>
        </div>
    </div>
</div>
<!--Bookings form-->
<div class="container px-5 col-8">
    <div class="justify-content-md-center px-5" id="booking-form">
        <form id="form" method="post" class="mt-5 px-5">
            {% csrf_token %}
            <div class="row">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="fname" name="first-name" required>
                    <label for="fname" class="form-label ps-4">First Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="lname" name="last-name" required>
                    <label for="lname" class="form-label ps-4">Last Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="tel" class="form-control" id="telephone" name="telephone" required>
                    <label for="telephone" class="form-label ps-4">Your Phone Number</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="mail" name="mail" required>
                    <label for="mail" class="form-label ps-4">Your Email Address</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="form-control" id="course" name="course" required>
                        {% for course in Course %}
		                    <option value="{{ course.id }}">{{ course.course_name }}</option>
	                    {% endfor %}
                    </select>
                    <label for="course" class="form-label ps-4">Select a course</label>
                </div>
                <div class="form-floating mb-3">
                    <select type="text" class="form-control" id="coach" name="coach" required>
                        {% for coach in Coach %}
                        <option value="{{ coach.id }}">{{ coach.coach_name }}</option>
                    {% endfor %}
                    </select>
                    <label for="coach" class="form-label ps-4">Select a coach</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date1 " name="date1" required>
                    <label for="date1" class="form-label ps-4">First date option</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="date" class="form-control" id="date2" name="date2" required>
                    <label for="date2" class="form-label ps-4">Second date option</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="comment" name="comment" rows="4"></textarea>
                    <label for="comment" class="form-label ps-4">Additional information</label>
                </div>
            </div>
            <div class="text-center">
                <button data-toggle="modal" data-target="message" type="submit"
                    class="btn btn-dark text-center m-2">Submit</button>
            </div>
        </form>
    </div>
</div>

{%endblock%}