{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-5">Booking form</h2>
        </div>
    </div>
</div>
<!--Bookings form-->
<div class="container px-5 col-8">
    <div class="justify-content-md-center px-5" id="booking-form">
        <form id="form" method="post" class="mt-5 px-5">
            {% csrf_token %}
            <div class="row">
                <div class="mb-3">
                    <label for="fname" class="form-label">First Name:</label>
                    <input type="text" class="form-control" id="fname" name="first-name" placeholder="Jane" required>
                </div>
                <div class="mb-3">
                    <label for="lname" class="form-label">Last Name:</label>
                    <input type="text" class="form-control" id="lname" name="last-name" placeholder="Doe" required>
                </div>
                <div class="mb-3">
                    <label for="telephone" class="form-label">Your Phone Number:</label>
                    <input type="tel" class="form-control" id="telephone" name="telephone" placeholder="0123456789"
                        required>
                </div>
                <div class="mb-3">
                    <label for="mail" class="form-label">Your Email Address:</label>
                    <input type="email" class="form-control" id="mail" name="mail" placeholder="jdoe@mail.com" required>
                </div>
                <div class="mb-3">
                    <label for="course" class="form-label">Select a course:</label>
                    <input type="text" class="form-control" id="course" name="course" required>
                </div>
                <div class="mb-3">
                    <label for="coach" class="form-label">Select a coach:</label>
                    <input type="text" class="form-control" id="coach" name="coach" required>
                </div>
                <div class="mb-3">
                    <label for="date1" class="form-label">First date option:</label>
                    <input type="date" class="form-control" id="date1 " name="date1" required>
                </div>
                <div class="mb-3">
                    <label for="date2" class="form-label">Second date option:</label>
                    <input type="date" class="form-control" id="date2" name="date2" required>
                </div>
            </div>
            <div class="text-center">
                <button data-toggle="modal" data-target="message" type="submit"
                    class="btn btn-dark text-center m-2">Submit</button>
            </div>
        </form>
    </div>
</div>

{%endblock%}