{% extends "base.html" %}

{% block content %}
<div class="d-none d-md-block container text-center">
    <!--featured image-->
    <div class="img-fluid w-100">
        {% if "placeholder" in course.image.url %}
        <img src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627545433/woman-jumping_vda4tj.jpg">
        {% else %}
        <img src="{{ course.image.url }}">
        {% endif %}
    </div>
</div>
<div class="container text-center py-2">
    <!--course title-->
    <h1 class="text-center">{{ course.course_name }}</h1>
</div>
    <!--course content-->
<div class="col-lg-8 container text-center border border-1 px-4 py-2 mb-2">
    {{ course.content | safe }}
</div>
<div class="text-center">
    <h3><a href="{% url 'booking' %}" class="course-link"><u>Click here to send a booking request</u></a></h3>
</div>
{%endblock%}