{% extends "base.html" %}

{% block content %}
<div class="d-none d-md-block container text-center">
    <!--featured image-->
    <div class="img-fluid w-100">
        {% if "placeholder" in course.image.url %}
        <img src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627545433/woman-jumping_vda4tj.jpg">
        {% else %}
        <img src="{{ course.image.url }}">
        {% endif %}
    </div>
</div>
<div class="container text-center">
    <!--course title-->
    <h1>{{ course.course_name }}</h1>
    <div>
        {{ course.content | safe }}
    </div>
</div>
{%endblock%}