{% extends "base.html" %}

{% block head_title %}Create Booking{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% if user.is_authenticated %}
  <div class="container align-items-center">
    <div class="row">
      <div class="text-center mt-4">
        <h2>Create Booking</h2>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-4 offset-md-4">
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="text-center">
            <button class="btn btn-dark text-center m-2" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% else %}

<h1 class="text-center mt-3">You need to Login to view this page!</h1>

{% endif %}
{% endblock %}