{% extends "base.html" %}

{% block content %}
<!--Heading for gallery-->
<h3 class="text-center">
    Gallery
</h3>
<!--Image gallery-->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/people-d_yzr4lq.jpg" alt="People standing by desk">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900404/team_vwmzyj.jpg" alt="People giving high fives">
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/the-fireplace_oeajxs.jpg" alt="Two ladies talking">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/people_vlqqih.jpg" alt="People talking">
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">    
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/people-3_kwnnvn.jpg" alt="Man and woman talking">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/chairs_rkgfb7.jpg" alt="Empty conference room">
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/meeting_oekbqg.jpg" alt="Round meeting room table">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/people-2_deqkyy.jpg" alt="Black and white office">
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627900403/business_pqxhx9.jpg" alt="Group deep in discussion">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627901689/meeting-2_pubxrp.jpg" alt="Group discussion">
    </div>
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627901761/team-2_slqveb.jpg" alt="Circle of hands and feet">
        <img class="w-100 shadow-1-strong rounded mb-4" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627902010/people-4_bmoc2b.jpg" alt="People talking in garden">
    </div>
</div>

{%endblock%}