  
{% extends "base.html" %}

{% block content %}


<div class="card bg-dark text-white rounded-0">
    <img src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627551006/mountain_qphrrl.jpg" class="img-fluid max-width: 100% height: auto" alt="People ontop mountain at sunset">
    <div class="card-img-overlay d-flex justify-content-end align-items-end">
        <h1 class="card-title">Coaching Warriors</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Courses Column -->
        <div class="col-12 mt-3 left">
            <div class="row">

            </div>
        </div>
    </div>

</div>

{%endblock%}