  
{% extends "base.html" %}

{% block content %}

<!--Hero Image-->
<div class="card bg-dark text-white rounded-0">
    <img src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627551006/mountain_qphrrl.jpg" class="img-fluid max-width: 100% height: auto" alt="People ontop mountain at sunset">
    <div class="card-img-overlay d-flex justify-content-end align-items-end">
        <h1 class="card-title">Coaching Warriors</h1>
    </div>
</div>
<!--Main page about information-->
<div class="container-fluid text-center">
    <h3 class="pt-3">Increase your impact through somatic coaching</h3>
    <p>Do you want to increase your impact by tuning into the intelligence of your body and aligning body, mind and spirit?</p>
    <p>Sounds like something I can help you with!</p>
    <p>Let me help you become clearer about what is important to you, leading to more vitality, more options and becoming your best version of yourself</p>
</div>
<hr>
<!-- Courses display -->
<div class="container-fluid">
    <h3 class="text-center">Available courses:</h3>
    <div class="row">
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for course in course_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in course.image.url %}
                                    <img class="card-img-top" src="https://res.cloudinary.com/dqf94syyp/image/upload/v1627545433/woman-jumping_vda4tj.jpg">
                                    {% else %}
                                    <img class="card-img-top" src="{{ course.image.url }}" alt="">
                                    {% endif %}
                                </div>
                                <a href="#" class="course-link">
                                    <h3 class="card-title">{{ course.course_name }}</h3>
                                    <p class="card-text">{{ course.excerpt }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                {% if forloop.counter|divisibleby:3 %}
                <div>
                <div class="row">
                {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{%endblock%}