{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
<h2 class="text-center mt-5">Your bookings</h2>
<!--View booked courses-->
<div class="container d-flex justify-content-center">
    <div class="row col-8">
        <table>
            {% for booking in booking_list %}
            <tr>
                <th>Date</th>
                <th>Course</th>
                <th>Coach</th>
            </tr>
            <tr>
                <td> {{ booking.booking_date }} </td>
                <td> {{ booking.course_name }} </td>
                <td> {{ booking.coach_name }} </td>
                <td><a href="{% url 'edit_booking' booking.pk %}"><small>Edit</small></a></td>
                <td><a href="{% url 'delete_booking' booking.pk %}"><small>Delete</small></a></td>
            </tr>
            {% empty %}
                <p class="text-center" style="color:red"><em><strong>You have no booked courses. Click on the link below to add a booking.</strong></em></p>
            {% endfor %}
        </table>
    </div>
</div>
<div class="text-center">
    <h5 class="mt-4"><a href="{% url 'create_booking' %}"><u>Click here to add a new booking</u></a></h5>
</div>

{% endblock content%}