{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-8 offset-md-2">
          {% for message in messages %}
          <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      </div>
  </div>
</div>
<h2 class="text-center mt-5">My profile</h2>
<!--View booked courses-->
<div class="text-center">
  <h5><a href="{% url 'member_booking' %}"><u>Click here to view your booked courses</u></a></h5>
</div>
<!--User Profile-->
<div class="container col-5">
  <form id="form" method="post" class="mt-3">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="text-center">
      <button data-toggle="modal" data-target="message" type="submit" class="btn btn-dark text-center m-2">Update Profile</button>
    </div>
  </form>
</div>
{% endblock content%}