{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!--Welcome Image-->
<div class="card bg-dark text-white rounded-0">
  <img src="https://res.cloudinary.com/dqf94syyp/image/upload/v1628843240/welcome_rsawl8.jpg" class="img-fluid max-width: 100% height: auto" alt="Welcome mat">
</div>
<div class="container align-items-center">
  <div class="row">
    <div class="text-center mt-4">
      <h2>Sign Up</h2>
      <p>Welcome to Coaching Warriors.<br>Already have an account? Then please <a href="{{ login_url }}">sign in</a>.</p>
    </div>
  </div>
  <div class="form-group">
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="form-group mt-4 mb-0 text-center">
        <button class="btn btn-dark text-center m-2" type="submit">Sign Up</button>
      </div>
  </div>
</div>
{% endblock %}
